.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 30px;
}
.contact {
  width: 24%;
  float: right;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.created {
  margin-left: 40px;
}
.contact-icons {
  color: gray;
}
.contact-icons:hover {
  color: #6ba908;
  cursor: pointer;
}
