.main-head {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 10px;
}
.trades {
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bets {
  margin-right: 53px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bet {
  margin-left: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bet-date {
  width: 12%;
  display: flex;
  justify-content: space-between;
}
.true-option {
  background-color: green;
  color: white;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  padding: 7px;
  font-size: 13px;
  box-sizing: border-box;
}
.false-option {
  color: gray;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  padding: 7px;
  font-size: 13px;
  box-sizing: border-box;
}
.false-option:hover {
  cursor: pointer;
  background-color: rgba(0, 128, 0, 0.342);
}
